<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="fragment-header" class="p-3 text-bg-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-info" href="/">주주 총회</a></li>
            </ul>

            <div class="text-end">
                <button id="sign-in-btn" class="btn btn-info" onclick="location.href='/login'">
                    Sign in
                </button>
                <button id="sign-up-btn" class="btn btn-outline-info" onclick="location.href='/signup'">
                    Sign up
                </button>
                <button class="btn btn-info" id="password-btn" onclick="location.href='/password'">
                    프로필 변경
                </button>
                <button class="btn btn-info" id="mypage">
                    <span id="header_nickname"></span>님의 마이 페이지
                </button>
                <button class="btn btn-outline-info" id="logout-btn" onclick="logout()">
                    Logout
                </button>
            </div>
        </div>
    </div>
</header>