@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NanumSquareNeo-Variable', serif;
}

.header a:hover {
  color: #8d94c7; /* 원하는 hover 색상으로 조절 */
  text-decoration: underline; /* 원하는 hover 효과로 조절 */
}

.nav li:hover {
  font-size: 17px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#category_menu li:hover {
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); !* 그림자 효과 *!*/
  transform: scale(1.05);
}

.image_input:hover {
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.005);
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.005);
}

.btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.005);
}


button:hover {
  transform: scale(1.2);
}

/* 알림 버튼에 Hover 효과 추가 */
#notification-btn:hover {
  transform: scale(1.2);
}

#product-container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

#signup-form {
  width: 538px;
  margin: 70px auto 141px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*gap: 96px;*/
  padding: 56px 0 50px;
  border-radius: 10px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

#logout-btn {
  border-color: #b7cff7;
  color: #b7cff7;
}

#logout-btn:hover {
  background-color: #b7cff7;
  color: #5974bd; /* 마우스 호버 시 글자 색을 변경할 경우 설정 */
}

#mypage {
  background-color: #5974bd;
  border-color: #5974bd;
  color: white;
}

#login-form {
  width: 538px;
  height: fit-content;
  margin: 70px auto 141px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 56px 0 56px;
  border-radius: 10px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

#login-title {
  width: 303px;
  height: 32px;
  flex-grow: 0;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.96px;
  text-align: center;
  color: #212529;
}


#login-id-btn {
  width: 393px;
  height: 62px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 11px 12px;
  border-radius: 5px;
  border: solid 1px #212529;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #414141;
}

.login-input-box {
  border-width: 0;

  width: 370px !important;
  height: 52px;
  margin: 14px 0 0;
  border-radius: 5px;
  background-color: #e9ecef;
}

.login-id-label {
  width: 382px;
  padding-left: 11px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.8px;
  text-align: left;
  color: #212529;
}

#login-id-submit {
  border-width: 0;
  width: 393px;
  height: 62px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px auto 10px auto;
  padding: 11px 12px;
  border-radius: 5px;
  background-color: #b7cff7;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: black;
}



#login-kakao-btn {
  border-width: 0;
  margin: 10px auto 10px auto;
  width: 393px;
  height: 62px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /*margin: 0 0 8px;*/
  padding: 11px 12px;
  border-radius: 5px;
  background-color: #fee500;
  border: 1px solid #F6DD00;
  font-family: SpoqaHanSansNeo;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;

}

#email-send {
  border-width: 0;
  width: 393px;
  height: 62px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0 0;
  padding: 11px 12px;
  border-radius: 5px;
  background-color: #b7cff7;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

#signup-submit {
  border-width: 0;
  width: 393px;
  height: 62px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0 0;
  padding: 11px 12px;
  border-radius: 5px;
  background-color: #5974bd;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: black;
}

#sign-text {
  position: absolute;
  top: 48px;
  right: 110px;
  font-size: 18px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.36px;
  text-align: center;
  color: #ffffff;
}

#login-text {
  position: absolute;
  top: 48px;
  right: 50px;
  font-size: 18px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.36px;
  text-align: center;
  color: black;
}

@media ( max-width: 768px ) {
  body {
    margin: 0px;
  }


  .header {
    height: 120px;
    box-sizing: border-box;
    background-color: #b7cff7;
    color: black;
    text-align: center;
    padding-top: 20px;
    /*padding: 50px;*/
    font-size: 20px;
    font-weight: bold;
  }

  .none {
    display: none;
  }

}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.container {
  max-width: 1200px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  width: 300px;
  margin-top: 22px;
  padding: 1.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

#notification-list li {
  border-bottom: 1px solid #ccc; /* 하단 선 추가 */
  padding: 10px;
  list-style-type: none;
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  margin-right: 40px;
  margin-top: 20px;
}

#notification-list li:hover {
  background-color: #f5f5f5; /* 호버 효과 */
}
