<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="UTF-8">
  <title>주주총회 : 로그인</title>
  <link rel="icon" href="/images/favicon.png">
</head>
<body>
<div id="login-form">
  <img onclick="location.href='/'" src="/images/login_logo.jpg"
       style="width: 250px;height: 130px;object-fit: cover;">
  <div id="login-title">주주총회 로그인</div>
  <br>
  <div>
    <div class="login-id-label">Login Id</div>
    <input type="text" name="loginId" id="loginId" class="login-input-box">

    <div class="login-id-label">Password</div>
    <input type="password" name="password" id="password" class="login-input-box">
    <div style="margin-top: 20px"><span>회원이 아니세요??
    <button style="border: transparent;text-decoration: underline;
               background-color: transparent;
               color : red; text-decoration-color: red" onclick="location.href='/signup'">
      회원 가입
    </button>
    </span></div>
    <button id="login-id-submit" onclick="onLogin()">로그인</button>
    <button id="login-kakao-btn"
            onclick="kakaoLogin()">
      <img src="/images/kakao.png" style="width: 22px; height: 20px;">
      카카오로 로그인하기
    </button>
  </div>

</div>
</body>
<script>
  const host = 'http://' + window.location.host;

  $(document).ready(function () {
    const auth = getToken();

    if (auth !== undefined && auth !== '') {
      logout();
    } else {
      return;
    }
  });

  function kakaoLogin() {
    $.ajax({
      type: 'GET',
      url: `/v1/auth/kakao/login`,
      success: function (response) {
        clientId = response.msg;
        window.location.href = "https://kauth.kakao.com/oauth/authorize?client_id=" + clientId
            + "&redirect_uri=https://jujuassembly.store/v1/auth/kakao/callback&response_type=code";
      }
    })
  }

  function getToken() {
    let auth = Cookies.get('Authorization');

    if (auth === undefined) {
      return '';
    }

    return auth;
  }

  function logout() {
    $.ajax({
      type: 'POST',
      url: `/v1/users/logout`,
      success: function (response) {
        msg = response['msg'];
        alert(msg)
        window.location.href = "/login";
      },
      error(error, status, request) {
        if (error['responseJSON']['data']) {
          alert(JSON.stringify(error['responseJSON']['data']));
        } else {
          alert(error['responseJSON']['msg']);
        }
      }
    });

  }

  function CookieRemove() {
    Cookies.remove('Authorization', {path: '/'});
  }

  function onLogin() {
    let loginId = $('#loginId').val();
    let password = $('#password').val();

    $.ajax({
      type: "POST",
      url: `/v1/auth/login`,
      contentType: "application/json",
      data: JSON.stringify({"loginId": loginId, "password": password}),
      error(error) {
        if (error['responseJSON']['data']) {
          alert(JSON.stringify(error['responseJSON']['data']));
        } else {
          alert(error['responseJSON']['msg']);
        }
      }
    })
    .done(function (res, status, xhr) {
      alert(res['msg']);
      window.location.href = host;
    });
  }
</script>
</html>