<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>주주총회</title>
  <link rel="shortcut icon" href="#">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/basic.js"></script>
  <script src="/js/notification.js"></script>
  <script>
    function getLike(categoryId, id) {
      $.ajax({
        type: "GET",
        url: `/v1/categories/${categoryId}/products/${id}/like`,
        success: function (response) {
          if (response['data']) {
            //좋아요 했음
            $('#fullHeart-' + id).show();
            $('#emptyHeart-' + id).hide();
          } else {
            //좋아요 안했음
            $('#emptyHeart-' + id).show();
            $('#fullHeart-' + id).hide();
          }
        }, error: function (error) {
          $('#emptyHeart-' + id).show();
          $('#fullHeart-' + id).hide();
          alert(error['responseJSON']['msg']);
        }
      });
    }

    function likeProduct(categoryId, id) {
      $.ajax({
        type: "POST",
        url: `/v1/categories/${categoryId}/products/${id}/like`,
        success: function (response) {
          alert(response['msg']);
          let count = $('#likesCount-' + id).text();
          $('#fullHeart-' + id).show();
          $('#emptyHeart-' + id).hide();
          $('#likesCount-' + id).text(Number(count) + 1);

        }, error: function (error) {
          alert("로그인한 회원만 찜할 수 있습니다.");
        }
      });

    }

    function unlikeProduct(categoryId, id) {
      $.ajax({
        type: "DELETE",
        url: `/v1/categories/${categoryId}/products/${id}/like`,
        success: function (response) {
          alert(response['msg']);
          let count = $('#likesCount-' + id).text();
          $('#fullHeart-' + id).hide();
          $('#emptyHeart-' + id).show();
          $('#likesCount-' + id).text(Number(count) - 1);

        }, error: function (error) {
          alert("로그인한 회원만 찜 취소할 수 있습니다.");
        }
      });
    }

    let role = null;
    let update_imageFile = null;
    var categoryId = -1;

    $(document).ready(function () {

      var currentUrl = window.location.href;
      let temp = currentUrl.split("/");
      categoryId = Number(temp[5]);
      getMyprofile();
      getCategory();

      // 페이지 로드 시 URL 파라미터 확인
      let urlParams = new URLSearchParams(window.location.search);

      let sortParam = urlParams.get('sort');
      let orderParam = urlParams.get('order');
      if (sortParam && orderParam) {
        $("#sorting").val(sortParam);
        $('input[name="isAsc"][value="' + orderParam + '"]').prop('checked', true);
      }

      getProductByCategory();

      $("#image").on("change", function (event) {
        update_imageFile = event.target.files[0];
      });
    });

    function getToken() {
      let auth = Cookies.get('Authorization');

      if (auth === undefined) {
        return '';
      }

      return auth;
    }

    function getMyprofile() {
      //로그인한 회원 정보
      const auth = getToken();

      if (auth !== undefined && auth !== '') {
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
          jqXHR.setRequestHeader('Authorization', auth);
        });
      } else {
        return;
      }

      $.ajax({
        type: 'GET',
        url: `/v1/users/myprofile`,
        success: function (response) {
          let user = response['data'];
          role = user['role'];
        },
        error(error, status, request) {
          console.log(error)
        }
      });
    }

    function getCategory() {
      $.ajax({
        type: "GET",
        url: `/v1/categories`,
        success: function (response) {
          let categories = response['data'];

          //전체 메뉴 먼저 넣기
          let total_html = `<li id="totalMenu" style="margin:10px;padding: 10px" onclick="location.href='/main/product'"  >
                        <img src="/images/default_category_image.png" style="object-fit: contain; width: 150px; height: 200px;">
                        <div style="text-align: center">
                            전체
                        </div>
                </li>`;
          $('#category_menu').append(total_html);

          for (let i = 0; i < categories.length; i++) {
            let category = categories[i];
            let id = category['id'];
            let name = category['name'];
            let image = category['image'];

            if (!image) {
              image = '/images/default_category_image.png'
            }
            let category_html = `<option value=${id}>${name}</option>`
            $('#modifiedCategoryId').append(category_html);

            let menu_html = `<li id="${id}-category-menu" style="margin:10px;padding: 10px" onclick="location.href='/main/categories/${id}/products'"  >
                        <img src="${image}" style="object-fit: contain; width: 150px; height: 200px;">
                        <div style="text-align: center">
                            ${name}
                        </div>
                </li>`;

            $('#category_menu').append(menu_html);

          }
        },
        error(error, status, request) {
          console.log(error);
        }
      });

    }

    function getProductByCategory() {
      var sorting = $("#sorting option:selected").val();
      var isAsc = $(':radio[name="isAsc"]:checked').val();

      let dataSource = `/v1/categories/` + categoryId + `/products?sort=${sorting},${isAsc}`;

      // URL에 정렬 파라미터 추가
      window.history.replaceState(null, null, "?sort=" + sorting + "&order=" + isAsc);

      $('#product_container').empty();
      $('#pagination').pagination({
        dataSource,
        locator: 'data.content',
        alias: {
          pageNumber: 'page',
          pageSize: 'size'
        },
        totalNumberLocator: (response) => {
          return response.data.totalElements;//전체 갯수
        },
        pageSize: 9,
        showPrevious: true,
        showNext: true,
        ajax: {
          error(error, status, request) {
            console.log(error);
          }
        },
        callback: function (response, pagination) {
          $('#product_container').empty();
          let products = response;

          for (let i = 0; i < products.length; i++) {
            let product = products[i];

            let id = product['id'];
            let categoryId = product['categoryId'];
            let name = product['name'];
            let image = product['image'];
            let description = product['description'];
            let likesCount = product['likesCount'];
            let reviewCount = product['reviewCount'];
            let area = product['area'];
            let company = product['company'];
            let alcoholDegree = product['alcoholDegree'];
            let reviewAverage = product['averageRating'];
            let average = reviewAverage.toFixed(2);

            if (!image) {
              image = "/images/default_product_image.png"
            }

            let product_html = `
        <div class="col">
          <div class="card h-100">
            <img class= "card-img" style="object-fit: cover;height: 400px" onclick="window.location.href='/productDetails?productId=${id}&categoryId=${categoryId}'" src="${image}" class="card-img-top" alt="상품 이미지">
            <div class="card-body">
              <h5 class="card-title">${name}</h5>
              <p class="card-text">${description}</p>
            <svg id="emptyHeart-${id}" onclick="likeProduct(${categoryId},${id})" xmlns="http://www.w3.org/2000/svg"
                 width="20"
                 height="20"
                 fill="currentColor"
                 class="bi bi-heart" viewBox="0 0 16 16">
              <path
                  d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
            <svg id="fullHeart-${id}" onclick="unlikeProduct(${categoryId},${id})"
                 xmlns="http://www.w3.org/2000/svg"
                 width="20" height="20"
                 fill="currentColor"
                 class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg>
            <span id="likesCount-${id}" style="margin-right: 5px">${likesCount}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
              <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
            </svg>
                        <span id="reviewCount-${id}" style="margin-right: 5px">${reviewCount}</span>
             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            <span class="card-text">${average}</span>
            <div>
            <div class="card-footer">
            <button onclick="updateId('${id}','${name}','${description}','${area}','${company}','${alcoholDegree}')" data-bs-toggle="modal"
            data-bs-target="#updateProduct"
            type="button" class="btn btn-light">수정</button>
            <button onclick="deleteProduct(${categoryId},${id})" type="button" class="btn btn-light">삭제</button>
            </div>
          </div>
        </div>`;
            $('#product_container').append(product_html);
            getLike(categoryId, id);
            if (role != "ADMIN") {
              $('.card-footer').hide();
            }
          }

        }

      });
    }

    function updateId(id, name, description, area, company, alcoholDegree) {

      $('#update_product_btn').val(id);
      $('#name').val(name);
      $('#description').val(description);
      $('#area').val(area);
      $('#company').val(company);
      $('#alcoholDegree').val(alcoholDegree);
      $('#modifiedCategoryId').val(categoryId);
    }

    function updateProduct() {
      if (!update_imageFile) {
        alert("이미지를 선택해주세요");
        return;
      }

      let id = $('#update_product_btn').val();
      let name = $('#name').val();
      let description = $('#description').val();
      let area = $('#area').val();
      let company = $('#company').val();
      let modifiedCategoryId = $('#modifiedCategoryId').val();
      let alcoholDegree = $('#alcoholDegree').val();

      data = {
        "name": name,
        "description": description,
        "area": area,
        "modifiedCategoryId": modifiedCategoryId,
        "company": company,
        "alcoholDegree": alcoholDegree
      }

      const formData = new FormData();
      formData.append('image', update_imageFile);
      formData.append("data",
          new Blob([JSON.stringify(data)], {type: "application/json"}));

      $.ajax({
        type: "PATCH",
        url: `/v1/categories/${categoryId}/products/${id}`,
        data: formData,
        enctype: "multipart/form-data",
        contentType: false,
        processData: false,
        success: function (response) {
          alert(response['msg']);
          window.location.reload();
        }, error: function (error) {
          if (error['responseJSON']['data']) {
            alert(JSON.stringify(error['responseJSON']['data']));
          } else {
            alert(error['responseJSON']['msg'])
          }
        }
      });
    }

    function deleteProduct(categoryId, id) {
      $.ajax({
        type: "DELETE",
        url: `/v1/categories/${categoryId}/products/${id}`,
        success: function (response) {
          alert(response['msg']);
          window.location.reload();
        }, error: function (error) {
          alert(error['response']['msg']);
        }
      });
    }

  </script>
</head>
<body>

<div style="    display: flex;    flex-direction: row;">
  <div id="adminMenu" style="display: none">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
         style="width: 280px;height: 800px">

      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin" class="nav-link active" aria-current="page">
            회원 관리
          </a>
        </li>
        <li>
          <a href="/admin/category" class="nav-link link-body-emphasis">
            카테고리 관리
          </a>
        </li>
        <li>
          <a href="/admin/product" class="nav-link link-body-emphasis">
            상품 관리
          </a>
        </li>
        <li>
          <a href="/admin/report" class="nav-link link-body-emphasis">
            제보 관리
          </a>
        </li>
        <li>
          <a href="/admin/chat" class="nav-link link-body-emphasis">
            고객과 채팅
          </a>
        </li>
      </ul>
      <hr>

    </div>
  </div>
  <div style="margin-left: 20px;margin-right: 20px;width: 100%">
    <header style="
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    height: 100px;
    align-items: center;">
      <button id="admin_btn" onclick="showAdminMenu()"
              style="display:none; border:transparent;background-color:transparent;margin-right: 20px;height: fit-content;">
        <img
            style="object-fit: contain;width: 30px;height: 30px" src="/images/menu.png"></button>
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          주주 총회
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 ">주주 총회 소개</a></li>
        <li><a href="/main/product" class="nav-link px-2 link-secondary">주류 목록 보기</a></li>
        <li><a href="/main/report" class="nav-link px-2">주류 제보 하기</a></li>
        <li><a href="/main/myLike" class="nav-link px-2">내가 찜한 주류</a></li>
        <li><a href="/main/myReview" class="nav-link px-2">내가 쓴 리뷰</a></li>
        <li><a href="/main/chat" class="nav-link px-2">고객 센터</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button onclick="location.href='/main/search'"
                style="background-color: transparent;border: transparent">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        <!-- 알림 버튼 -->
        <button data-bs-toggle="modal"
                data-bs-target="#notificationModal"
                id="notification-btn"
                style="background-color: transparent; border: transparent; position: relative; margin-right: 15px; padding: 0; border-radius: 50%;">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="bi bi-bell" viewBox="0 0 16 16">
            <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
          </svg>
          <span id="notification-count-badge"
                style="position: absolute; top: -7px; right: -7px; background-color: red; color: white; border-radius: 50%; font-size: 12px; padding: 3px 6px;">0</span>
        </button>

        <button id="sign-in-btn" class="btn btn-info" onclick="location.href='/login'">
          Sign in
        </button>
        <button id="sign-up-btn" class="btn btn-outline-info" onclick="location.href='/signup'">
          Sign up
        </button>
        <button onclick="location.href='/mypage'" class="btn btn-info" id="mypage"
                style="display: none;">
          <span id="header_nickname"></span>님의 마이 페이지
        </button>
        <button class="btn btn-outline-info" id="logout-btn" onclick="logout()"
                style="display: none;">
          Logout
        </button>

      </div>


    </header>
    <div style="height: fit-content;">

      <ul id="category_menu" class="nav nav-pills" style="margin: auto;width: 60%;"></ul>

      <div style="display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px">
        <div class="pagination">
          정렬:
          <select id="sorting" onchange="getProductByCategory()" style="margin-right: 10px">
            <option value="reviewCount">리뷰 많은 순</option>
            <option value="likesCount">찜 많은 순</option>
            <option value="createdAt">등록일 순</option>
            <option value="modifiedAt">수정일 순</option>

          </select>
          <input type="radio" name="isAsc" value="asc" onchange="getProductByCategory()"/> 오름차순
          <input type="radio" name="isAsc" value="desc" onchange="getProductByCategory()" checked/>
          내림차순
        </div>
        <div id="pagination" class="pagination" style="margin-top:10px"></div>
      </div>

      <div id="product_container" style="width: 80%;margin: auto;"
           class="row row-cols-1 row-cols-md-3 g-4">
      </div>
    </div>
  </div>
</div>

<!-- 알림 모달 -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel" style="
             margin-right: 10px;
              font-size: 25px;
              font-weight: bold;">알림 목록
        </div>
        <div id="unread-count">읽지 않은 알림: 0</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- 알림 목록이 여기에 표시 -->
        <ul id="notification-list" style="list-style-type: none;"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--상품 수정-->
<div class="modal fade" id="updateProduct" aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">상품 수정</h1>
        <button onclick="win_reload()" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="name" placeholder="이름">
        <input type="text" class="form-control" id="description" placeholder="설명">
        <input type="text" class="form-control" id="area" placeholder="지역">
        <input type="text" class="form-control" id="company" placeholder="회사">
        <input type="number" class="form-control" id="alcoholDegree" placeholder="알코올 도수">
        <div class="form-floating" style="margin-top: 20px">
          <div class="categoryLabel">
            <label for="modifiedCategoryId">카테고리 </label>
          </div>
          <div class="categorySelect">
            <select class="form-select" id="modifiedCategoryId"
                    aria-label="Floating label select example" style="width: 200px;">
              <option selected>카테고리를 선택해주세요</option>
            </select>
          </div>
        </div>
        <input type="file" accept="image/*" id="image">

      </div>
      <div class="modal-footer">
        <button onclick="win_reload()" type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
        <button id="update_product_btn" class="btn btn-light" onclick="updateProduct()">update
        </button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
