<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>주주총회</title>
  <link rel="shortcut icon" href="#">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          crossorigin="anonymous"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/basic.js"></script>
  <script src="/js/notification.js"></script>
</head>
<script>
  // 이 부분에 jQuery 및 기타 스크립트 추가
  // 쿠키 또는 로그인 여부를 확인하는 등의 처리를 진행할 수 있습니다.
  var userId = -1;
  var imageFile = null;
  $(document).ready(function () {
    $.ajax({
      type: 'GET',
      url: `/v1/users/myprofile`,
      success: function (response) {
        userId = response['data']['id'];
        getUserReports();
      },

      error(error, status, request) {
        if (error['responseJSON']['data']) {
          alert(error['responseJSON']['data']);
        } else {
          alert(error['responseJSON']['msg']);
        }
      }
    });

    getCategory();
    // // // 초기화면 로드 시 상품 제보 리스트 가져오기
    $("#image").on("change", function (event) {
      imageFile = event.target.files[0];
    });
  });

  function getCategory() {
    $.ajax({
      type: "GET",
      url: `/v1/categories`,
      success: function (response) {
        let categories = response['data'];
        console.log(categories);
        for (let i = 0; i < categories.length; i++) {
          let category = categories[i];
          let id = category['id'];
          let name = category['name'];
          let image = category['image'];
          let html = `<option value=${id}>${name}</option>`
          $('#categoryId').append(html);
        }
      },
      error(error, status, request) {

      }
    });

  }

  function createReport() {

    // 입력된 값 가져오기
    var productName = $('#productName').val();
    var categoryId = $('#categoryId').val();
    // var description = $('#description').val()
    let data = {'name': productName};

    // FormData를 사용하여 데이터 전송
    var formData = new FormData();
    formData.append("data", new Blob([JSON.stringify(data)], {type: "application/json"}));
    // formData.append('description', description);
    formData.append('image', imageFile);

    // 여기에서 서버로 Ajax 요청을 보내서 상품 제보 처리를 진행할 수 있습니다.
    // 성공 시 상품 제보 리스트 업데이트 등을 수행합니다.

    // 예시: 서버로 Ajax 요청 보내기
    $.ajax({
      url: '/v1/categories/' + categoryId + '/reports',
      type: 'POST',
      data: formData,
      contentType: false,
      processData: false,
      success: function (response) {
        // 서버에서의 처리 성공 시 동작
        console.log(response);

        // 상품 제보 리스트 갱신 등의 동작을 수행할 수 있습니다.
        // ...

        // 예시: 제보 후 상품 제보 리스트 갱신
        // updateReportList();
      },
      error: function (error) {
        // 서버에서의 처리 실패 시 동작
        console.error(error);
      }
    });
  }

  // // 상품 제보 리스트 갱신 함수
  function getUserReports() {
    // 서버로부터 상품 제보 리스트를 가져와서 동적으로 화면에 추가하는 코드를 작성합니다.
    // 서버로의 Ajax 요청 등을 통해 필요한 데이터를 가져올 수 있습니다.
    // 가져온 데이터를 이용하여 동적으로 카드를 생성하고 #reportList에 추가합니다.
    var sorting = $("#sorting option:selected").val();
    var isAsc = $(':radio[name="isAsc"]:checked').val();

    let dataSource = `/v1/users/${userId}/reports?sort=${sorting},${isAsc}`;

    $('#reports').empty();
    $('#pagination').pagination({
      dataSource,
      locator: 'data.content',
      alias: {
        pageNumber: 'page',
        pageSize: 'size'
      },
      totalNumberLocator: (response) => {
        return response.data.totalElements;//전체 갯수
      },
      pageSize: 10,
      showPrevious: true,
      showNext: true,
      pageLink: '<li class="paginationjs-page J-paginationjs-page" data-num="{{page}}"><a>{{page}}</a></li>',
      ajax: {
        error(error, status, request) {
          console.log(error);
        }
      },
      callback: function (response, pagination) {
        $('#reports').empty();
        console.log(reports);
        for (let i = 0; i < response.length; i++) {
          let report = response[i];
          let name = report['name'];
          let image = report['image'];
          let status = report['status'];
          let html = `
        <div class="col">
          <div class="card h-100">
            <img src="${image}" class="card-img-top" alt="상품 이미지">
            <div class="card-body">
              <h5 class="card-title">${name}</h5>
              <p class="card-text">${status}</p>
            </div>
          </div>
        </div>`;
          $('#reports').append(html);
        }
      },
      error(error, status, request) {

      }
    });

  }

</script>

<body>
<div style="    display: flex;    flex-direction: row;">
  <div id="adminMenu" style="display: none">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
         style="width: 280px;height: 800px">

      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin" class="nav-link active" aria-current="page">
            회원 관리
          </a>
        </li>
        <li>
          <a href="/admin/category" class="nav-link link-body-emphasis">
            카테고리 관리
          </a>
        </li>
        <li>
          <a href="/admin/product" class="nav-link link-body-emphasis">
            상품 관리
          </a>
        </li>
        <li>
          <a href="/admin/report" class="nav-link link-body-emphasis">
            제보 관리
          </a>
        </li>
        <li>
          <a href="/admin/chat" class="nav-link link-body-emphasis">
            고객과 채팅
          </a>
        </li>
      </ul>
      <hr>

    </div>
  </div>
  <div style="margin-left: 20px;margin-right: 20px;width: 100%">
    <header style="
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    height: 100px;
    align-items: center;">
      <button id="admin_btn" onclick="showAdminMenu()"
              style="display:none; border:transparent;background-color:transparent;margin-right: 20px;height: fit-content;">
        <img
            style="object-fit: contain;width: 30px;height: 30px" src="/images/menu.png"></button>
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          주주 총회
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 ">주주 총회 소개</a></li>
        <li><a href="/main/product" class="nav-link px-2">주류 목록 보기</a></li>
        <li><a href="/main/report" class="nav-link px-2 link-secondary">주류 제보 하기</a></li>
        <li><a href="/main/myLike" class="nav-link px-2">내가 찜한 주류</a></li>
        <li><a href="/main/myReview" class="nav-link px-2">내가 쓴 리뷰</a></li>
        <li><a href="/main/chat" class="nav-link px-2">고객 센터</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button onclick="location.href='/main/search'"
                style="background-color: transparent;border: transparent">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        <!-- 알림 버튼 -->
        <button data-bs-toggle="modal"
                data-bs-target="#notificationModal"
                id="notification-btn" style="background-color: transparent; border: transparent">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="bi bi-bell" viewBox="0 0 16 16">
            <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
          </svg>
        </button>

        <button id="sign-in-btn" class="btn btn-info" onclick="location.href='/login'">
          Sign in
        </button>
        <button id="sign-up-btn" class="btn btn-outline-info" onclick="location.href='/signup'">
          Sign up
        </button>
        <button onclick="location.href='/mypage'" class="btn btn-info" id="mypage"
                style="display: none;">
          <span id="header_nickname"></span>님의 마이 페이지
        </button>
        <button class="btn btn-outline-info" id="logout-btn" onclick="logout()"
                style="display: none;">
          Logout
        </button>

      </div>


    </header>
    <div style="height: fit-content;">
      <h2 style="display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px">상품 제보</h2>

      <div style="display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px">
        <div class="pagination">
          정렬:
          <select id="sorting" onchange="getUserReports()" style="margin-right: 10px">
            <option value="createdAt">작성일</option>
            <option value="modifiedAt">수정일</option>
          </select>
          <input type="radio" name="isAsc" value="asc" onchange="getUserReports()"/> 오름차순
          <input type="radio" name="isAsc" value="desc" onchange="getUserReports()" checked/> 내림차순
        </div>
        <div id="pagination" class="pagination" style="margin-top:10px"></div>
      </div>
      <!-- 상품 제보 양식 -->
      <form id="postReportForm" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="productName" class="form-label">상품명</label>
          <input type="text" class="form-control" id="productName" required>
        </div>


        <div class="form-floating" style="margin-top: 20px">
          <div class="categoryLabel">
            <label for="categoryId">카테고리 </label>
          </div>
          <div class="categorySelect">
            <select class="form-select" id="categoryId"
                    aria-label="Floating label select example" style="width: 200px;">
              <option selected>카테고리를 선택해주세요</option>
            </select>
          </div>
        </div>
        <!--      <div class="mb-3">-->
        <!--        <label for="description" class="form-label">상세 설명</label>-->
        <!--        <textarea class="form-control" id="description" rows="3" required></textarea>-->
        <!--      </div>-->
        <div class="mb-3">
          <label for="image" class="form-label">이미지 업로드</label>
          <input type="file" class="form-control" id="image" accept="image/*" required>
        </div>

      </form>
      <button onclick="createReport()" class="btn btn-primary">상품 제보</button>

      <!-- 상품 제보 리스트 표시 부분 -->
      <div id="reports" class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <!-- 여기에 동적으로 추가될 상품 제보 카드가 나타날 것입니다. -->
      </div>
    </div>
  </div>
</div>

<!-- 알림 모달 -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel" style="
             margin-right: 10px;
              font-size: 25px;
              font-weight: bold;">알림 목록
        </div>
        <div id="unread-count">읽지 않은 알림: 0</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- 알림 목록이 여기에 표시 -->
        <ul id="notification-list" style="list-style-type: none;"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
