<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <meta charset="UTF-8">
  <title>주주총회　회원가입</title>
</head>
<body>
<div id="signup-form">
  <div id="login-title">주주총회 회원가입</div>
  <br>


  <div>
    <div class="login-id-label">Login Id</div>
    <input type="text" name="loginId" id="loginId" class="login-input-box">

    <div class="login-id-label">Nickname</div>
    <input type="text" name="nickname" id="nickname" class="login-input-box">

    <div class="login-id-label">Password</div>
    <input type="password" name="password" id="password" class="login-input-box">

    <div class="login-id-label">Password Check</div>
    <input type="password" name="passwordCheck" id="passwordCheck" class="login-input-box">

    <p></p>
    <label for="firstPreferredCategoryId">1순위 선호 주종</label>
    <div class="form-floating" style="margin-top: 20px">
      <select class="form-select" id="firstPreferredCategoryId"
              aria-label="Floating label select example">
        <option selected>주종을 선택해 주세요</option>

      </select>
    </div>

    <p></p>
    <label for="firstPreferredCategoryId">2순위 선호 주종</label>
    <div class="form-floating" style="margin-top: 20px">

      <select class="form-select" id="secondPreferredCategoryId"
              aria-label="Floating label select example">
        <option selected>주종을 선택해 주세요</option>
      </select>
    </div>

    <div class="login-id-label">Email</div>

    <input type="email" name="email" id="email" class="login-input-box">

    <div style="margin-top: 20px"><span>이미 가입 하셨어요??
    <button style="border: transparent;text-decoration: underline;
               background-color: transparent;
               color : red; text-decoration-color: red" onclick="location.href='/login'">
      로그인
    </button>
    </span></div>

    <button id="email-send" onclick="sendEmail()">이메일 인증</button>
    <div style="display: none" id="signUpArea">
      <div class="login-id-label">인증 번호</div>
      <input type="password" name="" id="verificationCode" class="login-input-box">

      <button id="signup-submit" onclick="signUp()">회원 가입</button>
    </div>
  </div>
  <div id="login-failed" style="display:none" class="alert alert-danger" role="alert"></div>
</div>
</body>
<script>
  $(document).ready(function () {
    getCategory();
    const auth = getToken();

    if (auth !== undefined && auth !== '') {
      $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        jqXHR.setRequestHeader('Authorization', auth);
      });
      logout();
    } else {
      return;
    }
  });

  function getCategory() {
    $.ajax({
      type: "GET",
      url: `/v1/categories`,
      success: function (response) {
        let categories = response['data'];
        console.log(categories);
        for (let i = 0; i < categories.length; i++) {
          let category = categories[i];
          let id = category['id'];
          let name = category['name'];
          let html = `<option value=${id}>${name}</option>`
          $('#firstPreferredCategoryId').append(html);
          $('#secondPreferredCategoryId').append(html);
        }
      },
      error(error, status, request) {

      }
    });

  }

  function getToken() {
    let auth = Cookies.get('Authorization');

    if (auth === undefined) {
      return '';
    }

    return auth;
  }

  function logout() {

    $.ajax({
      type: 'POST'
      , url: `/v1/users/logout`
      , success: function (response) {
        alert(response['msg']);
        CookieRemove();
        window.location.reload();
      }, error(error, status, request) {
        console.log(error);
      }
    });
  }

  function CookieRemove() {
    Cookies.remove('Authorization', {path: '/'});
  }

  function sendEmail() {
    let loginId = $('#loginId').val();
    let nickname = $('#nickname').val();
    let password = $('#password').val();
    let passwordCheck = $('#passwordCheck').val();
    let firstPreferredCategoryId = $('#firstPreferredCategoryId').val();
    let secondPreferredCategoryId = $('#secondPreferredCategoryId').val();
    let email = $('#email').val();

    if (firstPreferredCategoryId === secondPreferredCategoryId) {
      alert("1순위 선호 주종과 2순위 선호 주종이 같습니다!");
      return;
    }

    let data = {
      "loginId": loginId,
      "nickname": nickname,
      "password": password,
      "passwordCheck": passwordCheck,
      "firstPreferredCategoryId": firstPreferredCategoryId,
      "secondPreferredCategoryId": secondPreferredCategoryId,
      "email": email
    }
    $.ajax({
      type: "POST",
      url: `/v1/auth/signup`,
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (response) {
        alert(response['msg']);
        $('#signUpArea').show();
      },
      error(error, status, request) {
        if (error['responseJSON']['data']) {
          alert(JSON.stringify(error['responseJSON']['data']));
        } else {
          alert(error['responseJSON']['msg']);
        }
      }
    });
  }

  function signUp() {
    let verificationCode = $('#verificationCode').val();

    $.ajax({
      type: "GET",
      url: `/v1/auth/signup`,
      contentType: "application/json",
      beforeSend: function (xhr) {
        xhr.setRequestHeader("verificationCode", verificationCode);
      },
      success: function (response) {
        alert(response['msg']);
        window.location.href = '/login';
      },
      error(error, status, request) {
        if (error['responseJSON']['data']) {
          alert(JSON.stringify(error['responseJSON']['data']));
        } else {
          alert(error['responseJSON']['msg']);
        }
      }
    });

  }

</script>
</html>