<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>주주총회</title>
  <link rel="icon" href="/images/favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script src="/js/basic.js"></script>
  <script src="/js/notification.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
  <link rel="stylesheet" href="/css/style.css">
  <!-- SockJS 라이브러리를 불러옴 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
  <!-- STOMP 라이브러리를 불러옴 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <style>
    #chatContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
    }

    .chat-message {
      padding: 8px;
      border-radius: 8px;
      max-width: 70%;
    }

    .sent {
      align-self: flex-end;
      background-color: #d3f5d3; /* 내가 보낸 메시지 배경색 */
    }

    .received {
      align-self: flex-start;
      background-color: #e0e0e0; /* 상대방이 보낸 메시지 배경색 */
    }

    .special {
      background-color: #f0f0f0; /* 특별한 메시지 배경색 */
      color: #333; /* 특별한 메시지 글자색 */
      text-align: center; /* 가운데 정렬 */
      padding: 10px; /* 내부 여백 설정 */
      border-radius: 0; /* 모서리 둥글기 제거 */
      max-width: calc(100% - 20px); /* 최대 너비 설정 (모달창 가로크기에서 왼쪽, 오른쪽 여백 10px씩 뺀 크기) */
    }

    .sender-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .sender-nickname {
      font-size: 13px;
      font-weight: bold;
    }
  </style>

</head>
<script>
  // WebSocket 객체를 전역 변수로 선언
  var stompClient;
  var currentAdminId;
  var currentChatRoomId;
  var currentSenderNickname;
  var currentSenderImage;

  // var myId = -1;
  var partenerId = -1;
  $(document).ready(function () {
    // $.ajax({
    //   type: 'GET',
    //   url: `/v1/users/myprofile`,
    //   success: function (response) {
    //     myId = response['data']['id'];

    currentSenderNickname = nickname;
    currentSenderImage = profileImage;
    if (role === "ADMIN") {
      window.location.href = "/admin/chat";
    } else {
      alert("로그인이 필요한 서비스 입니다.");
      window.location.href = "/login"
    }
    getAllAdminUsers();
    var currentUrl = window.location.href;
    var parsedParams = parseQueryString(currentUrl);
    partenerId = parsedParams['userId'];
    if (partenerId != -1 && partenerId !== undefined) {
      openChatModal(partenerId);
    }
    // },
    // error(error, status, request)
    // {
    //   alert("로그인이 필요한 서비스 입니다.");
    //   window.location.href = "/login"
    // }
    // })
    // ;
    $('#chatMessageInput').on('keydown', function (event) {
      if (event.keyCode === 13) {
        // 엔터 키를 누르면 버튼 클릭 이벤트 발생
        sendChatMessage();
      }
    });
  })

  function parseQueryString(url) {
    var params = {};
    var queryString = url.split('?')[1];

    if (queryString) {
      queryString.split('&').forEach(function (pair) {
        var keyValue = pair.split('=');
        var key = decodeURIComponent(keyValue[0]);
        var value = decodeURIComponent(keyValue[1]);
        params[key] = value;
      });
    }

    return params;
  }

  function getAllAdminUsers() {
    var sorting = $("#sorting option:selected").val();
    var isAsc = $(':radio[name="isAsc"]:checked').val();

    let dataSource = `/v1/users/admin?sort=${sorting},${isAsc}`;

    $('#pagination').pagination({
      dataSource,
      locator: 'data.content',
      alias: {
        pageNumber: 'page',
        pageSize: 'size'
      },
      totalNumberLocator: (response) => {
        return response.data.totalElements;
      },
      pageSize: 9,
      showPrevious: true,
      showNext: true,
      ajax: {
        error(error, status, request) {
          console.log(error);
        }
      },
      callback: function (response, pagination) {
        $('#adminList').empty();
        let users = response;
        for (let i = 0; i < users.length; i++) {
          let user = users[i];
          let userId = user['id'];
          let image = user['image'];
          let loginId = user['loginId']
          let nickname = user['nickname']
          let email = user['email']
          let role = user['role'];

          if (!image) {
            image = "/images/default_user_image.png"
          }
          let html = `<div class="d-flex text-body-secondary pt-3">
        <img style="margin: 7px; width: 40px;height: 40px;object-fit: contain;" src=${image}>
        <p class="pb-3 mb-0 small lh-sm border-bottom"  style="display: flex;flex-direction: row;justify-content: center;">
           <div style="width: 80%">
             <button class="btn btn-light" onclick="openChatModal('${userId}')" data-userid="${userId}">채팅 하기</button>
             <strong class="d-block text-gray-dark">${loginId}(${nickname})</strong>
             email : ${email}<br>
             role : ${role}
           </div>
           <div style="width: 22%">
            </div>

        </p>
    </div>`;
          $('#adminList').append(html);

        }
      }, error(error, status, request) {
        console.log(error);
      }
    });
  }

  function openChatModal(userId) {
    let adminId = userId;
    let usersId = myId;

    $.ajax({
      type: 'POST',
      url: '/v1/rooms',
      contentType: 'application/json',
      data: JSON.stringify({
        "userId": usersId,
        "adminId": adminId
      }),
      success: function (response) {
        let chatRoomId = response.data.roomId;
        currentAdminId = adminId;
        currentChatRoomId = chatRoomId;

        // 웹소켓 연결
        connectWebSocket(chatRoomId);
        clearChatContainer();

        // 채팅 모달 열기
        $('#chatModal').modal('show');

        fetchChatHistory(chatRoomId);

        var chatContainer = $('#chatContainer');
        chatContainer.scrollTop(chatContainer.prop("scrollHeight"));

        console.log(`Chat Room ID: ${chatRoomId}`);
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  // 웹소켓 연결 함수
  function connectWebSocket(chatRoomId) {
    // WebSocket 연결
    var socket = new WebSocket('wss://' + window.location.host + '/ws-connection');
    stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
      console.log('WebSocket에 연결됨');
      // 채팅 룸에 구독
      enterChatRoom()
      setTimeout(function () {
        stompClient.subscribe(`/subscribe/rooms/${chatRoomId}/chats`, function (response) {
          var message = JSON.parse(response.body);
          console.log(`채팅방 ${chatRoomId}에서 메시지 수신:`, message);
          // 수신한 메시지를 채팅 창에 추가
          addMessageToChatContainer(message.senderId, message.message, message.senderNickname,
              message.senderImage);

        });

      }, 1000);
    });
  }

  //웹소켓 연결 종료 함수
  function disconnectWebSocket() {
    exitChatRoom()
    stompClient.unsubscribe(`/subscribe/rooms/${currentChatRoomId}/chats`);
    if (stompClient !== null && stompClient.connected) {
      stompClient.disconnect(function () {
        console.log('웹 소켓 연결이 종료되었습니다.');
        window.location.href = "/main/chat"
      });
    }
  }

  // 채팅방 입장을 서버에 알리는 함수
  function enterChatRoom() {
    var message = "사용자가 입장했습니다."
    stompClient.send(`/publish/rooms/enterexit/${currentChatRoomId}`, {}, JSON.stringify({
      "senderId": 0,
      "receiverId": 0,
      "message": message
    }));
    console.log("유저입장")
  }

  // 채팅방 퇴장을 서버에 알리는 함수
  function exitChatRoom() {
    var message = "사용자가 퇴장했습니다."
    stompClient.send(`/publish/rooms/enterexit/${currentChatRoomId}`, {}, JSON.stringify({
      "senderId": 0,
      "receiverId": 0,
      "message": message
    }));
  }

  function fetchChatHistory(chatRoomId) {
    // API를 통해 채팅 기록 가져오기
    $.ajax({
      type: 'GET',
      url: `/v1/chats?roomId=${chatRoomId}`,
      success: function (response) {
        var chatHistory = response.data;

        // 가져온 채팅 기록을 채팅 창에 추가
        for (var i = 0; i < chatHistory.length; i++) {
          var message = chatHistory[i];
          addMessageToChatContainer(message.senderId, message.message, message.senderNickname,
              message.senderImage);
        }
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  //채팅창에추가하는 메서드
  function addMessageToChatContainer(senderId, message, senderNickname, senderImage) {
    // 채팅창 영역을 가져옴
    var chatContainer = $('#chatContainer');
    if (!senderImage) {
      senderImage = "/images/default_user_image.png"
    }

    // 메시지를 표시할 HTML 생성
    var messageHtml = `
<div class="chat-message ${senderId === myId ? 'sent' : 'received'}">
    <div class="message-header">
        <img src="${senderImage}" alt="보낸 사람 이미지" class="sender-image">
        <span class="sender-nickname">${senderNickname}</span>
    </div>
    <div class="message-content">${message}</div>
</div>
`;
    // 만약 senderId가 0이면 다른 CSS 적용
    if (senderId === 0) {
      messageHtml = `
      <div class="chat-message special">
        <div>${message}</div>
      </div>
    `;
    }

    // 생성한 HTML을 채팅창에 추가
    chatContainer.append(messageHtml);
    // 스크롤을 가장 아래로 내림
    chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
  }

  //채팅기록 비우는 메서드
  function clearChatContainer() {
    // "chatContainer"라는 ID를 가진 요소를 찾아서 내용을 비워줌
    var chatContainer = $('#chatContainer');

    // 채팅 창 내용 비우기
    if (chatContainer.length) {
      chatContainer.empty();
    }
  }

  // 채팅 메시지 전송 함수
  function sendChatMessage() {
    let message = $('#chatMessageInput').val();

    // 서버에 메시지 전송
    stompClient.send(`/publish/rooms/${currentChatRoomId}/chats`, {}, JSON.stringify({
      "senderId": myId,
      "receiverId": currentAdminId,
      "message": message,
      "senderNickname": currentSenderNickname,
      "senderImage": currentSenderImage
    }));

    // 메시지 입력 창 초기화
    $('#chatMessageInput').val('');
  }
</script>
<body>

<div style="    display: flex;    flex-direction: row;">
  <div id="adminMenu" style="display: none">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
         style="width: 280px;height: 800px">

      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin" class="nav-link active" aria-current="page">
            회원 관리
          </a>
        </li>
        <li>
          <a href="/admin/category" class="nav-link link-body-emphasis">
            카테고리 관리
          </a>
        </li>
        <li>
          <a href="/admin/product" class="nav-link link-body-emphasis">
            상품 관리
          </a>
        </li>
        <li>
          <a href="/admin/report" class="nav-link link-body-emphasis">
            제보 관리
          </a>
        </li>
        <li>
          <a href="/admin/chat" class="nav-link link-body-emphasis">
            고객과 채팅
          </a>
        </li>
      </ul>
      <hr>

    </div>
  </div>
  <div style="margin-left: 20px;margin-right: 20px;width: 100%">
    <header style="
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    height: 100px;
    align-items: center;">
      <button id="admin_btn" onclick="showAdminMenu()"
              style="display:none; border:transparent;background-color:transparent;margin-right: 20px;height: fit-content;">
        <img
            style="object-fit: contain;width: 30px;height: 30px" src="/images/menu.png"></button>
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          주주 총회
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2">주주 총회 소개</a></li>
        <li><a href="/main/product" class="nav-link px-2">주류 목록 보기</a></li>
        <li><a href="/main/report" class="nav-link px-2">주류 제보 하기</a></li>
        <li><a href="/main/myLike" class="nav-link px-2">내가 찜한 주류</a></li>
        <li><a href="/main/myReview" class="nav-link px-2">내가 쓴 리뷰</a></li>
        <li><a href="/main/chat" class="nav-link px-2  link-secondary">고객 센터</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button onclick="location.href='/main/search'"
                style="background-color: transparent;border: transparent">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        <!-- 알림 버튼 -->
        <button data-bs-toggle="modal"
                data-bs-target="#notificationModal"
                id="notification-btn"
                style="background-color: transparent; border: transparent; position: relative; margin-right: 15px; padding: 0; border-radius: 50%;">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
               class="bi bi-bell" viewBox="0 0 16 16">
            <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
          </svg>
          <span id="notification-count-badge"
                style="position: absolute; top: -7px; right: -7px; background-color: red; color: white; border-radius: 50%; font-size: 12px; padding: 3px 6px;">0</span>
        </button>

        <button id="sign-in-btn" class="btn btn-info" onclick="location.href='/login'">
          Sign in
        </button>
        <button id="sign-up-btn" class="btn btn-outline-info" onclick="location.href='/signup'">
          Sign up
        </button>
        <button onclick="location.href='/mypage'" class="btn btn-info" id="mypage"
                style="display: none;">
          <span id="header_nickname"></span>님의 마이 페이지
        </button>
        <button class="btn btn-outline-info" id="logout-btn" onclick="logout()"
                style="display: none;">
          Logout
        </button>

      </div>


    </header>
    <div style="height: fit-content;">
      <h1 style="    width: fit-content; margin: 10px auto 10px auto">관리자와 채팅</h1>
      <div style="display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px">
        <div class="pagination">
          정렬:
          <select id="sorting" onchange="getAllAdminUsers()" style="margin-right: 10px">
            <option value="createdAt">등록일</option>
            <option value="modifiedAt">수정일</option>
          </select>
          <input type="radio" name="isAsc" value="asc" onchange="getAllAdminUsers()"/> 오름차순
          <input type="radio" name="isAsc" value="desc" onchange="getAllAdminUsers()" checked/> 내림차순
        </div>
      </div>

      <div class="my-3 p-3 bg-body rounded shadow-sm"
           style="margin: 10px auto 10px auto;width: 60%;">
        <h6 class="border-bottom pb-2 mb-0">관리자 목록</h6>
        <div id="adminList">
        </div>
      </div>
      <div id="pagination" class="pagination"
           style="margin-top:25px; justify-content: center;"></div>
    </div>
  </div>
</div>
<!-- 채팅창 모달 -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" no-close-on-esc
     id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">채팅창</h5>
        <button type="button" onclick="disconnectWebSocket()" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- 채팅창을 표시할 영역 -->
        <div id="chatContainer"
             style="height: 200px; overflow-y: auto; word-wrap: break-word;"></div>

        <!-- 메시지 전송 버튼 -->
        <div class="input-group mb-3">
          <textarea type="text" class="form-control" id="chatMessageInput"
                    placeholder="메시지를 입력하세요"></textarea>
          <button class="btn btn-primary" id="sendMessageBtn" onclick="sendChatMessage()">전송
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                onclick="disconnectWebSocket()">닫기
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 알림 모달 -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel" style="
             margin-right: 10px;
              font-size: 25px;
              font-weight: bold;">알림 목록
        </div>
        <div id="unread-count">읽지 않은 알림: 0</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- 알림 목록이 여기에 표시 -->
        <ul id="notification-list" style="list-style-type: none;"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
